
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/image1.png" class="card-img-top" alt="гарри">
        <div class="card-body">
          <p class="card-text">главный герой серии романов английской писательницы Джоан Роулинг.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/image2.png" class="card-img-top" alt="гермиона">
        <div class="card-body">
          <p class="card-text">Одна из главных героинь цикла романов о Гарри Поттере.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/image3.png" class="card-img-top" alt="Рон">
        <div class="card-body">
          <p class="card-text"> Лучший друг Гарри Поттера и Гермионы Грейнджер, один из главных героев романа.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

