{% extends 'base.html' %}

{% block content %}
<! -- Создание аккордеона -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Га́рри Джеймс По́ттер
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Литературный персонаж, главный герой серии романов английской писательницы Джоан Роулинг.
           На одиннадцатый день рождения Гарри узнаёт, что является волшебником, и ему уготовано
           место в школе волшебства «Хогвартс», в которой он будет практиковать магию под руководством
           директора Альбуса Дамблдора и других школьных профессоров.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Гермио́на Джин Гре́йнджер
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Одна из главных героинь цикла романов о Гарри Поттере наряду с её однокурсниками
           Гарри Поттером и Роном Уизли. Ученица школы Хогвартс, талантливая молодая волшебница,
           вундеркинд. Гермиона очень любит учиться и уделяет этому много времени.</strong>       </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Рональд Билиус Уизли
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Персонаж серии романов о Гарри Поттере. Лучший друг Гарри Поттера и Гермионы Грейнджер,
           один из главных героев романа. Член семейства Уизли. Учился в школе Хогвартс на факультете Гриффиндор.
           Впервые упоминается в книге «Гарри Поттер и философский камень».
           Шестой из детей Артура и Молли Уизли</strong>
      </div>
    </div>
  </div>
</div>
{% endblock %}

